.card {
    width: 290px;
    height: 354px;
    border-radius: 20px;
    background: #212121; 
    position: relative;
    border: 2px solid #680747;
   }

   .text-title {
    color: #ffcee4;
    font-size: 1.5em;
    margin: 10px;
   }
   
   .text-body{
    color: #ffcee4;
    margin: 10px;
   }
   
   
   .card-image {
    max-height: 160px;
    width: 100%;
    position: absolute;
    bottom: 0;
    height: auto;
    border-radius: 0px 0px 20px 20px;
    }
    
    
